{#{% extends 'base.html' %}#}
{##}
{#{% block content %}#}
{#<body>#}
{#    <h1>Password Reset</h1>#}
{#    <p>{% blocktrans %}#}
{#        You're receiving this email because you requested a password reset for your account at our site.#}
{#        {% endblocktrans %}#}
{#    </p>#}
{#    <p>#}
{#        Click the link below to reset your password:#}
{#        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">#}
{#            Reset Password#}
{#        </a>#}
{#    </p>#}
{#    <p>If you didn't request this, please ignore this email.</p>#}
{#</body>#}
{#{% endblock %}#}