* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: 'SemiBold', sans-serif;
  scroll-behavior: smooth;
  background-color: #020A18;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.txt_centr {
  text-align: center;
}

.center {
  max-width: 1146px;
  margin: 0 auto;
  width: 100%;
}

.container {
  padding-left: calc(50% - 573px);
  padding-right: calc(50% - 573px);
}

.top {
  /* max-width: 1920px; */
  background-color: #08101D;
}

.header {
  padding: 15px 0;
  border-radius: 10px;
  border: 1px solid #302e2e;
  background-color: #031a41;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  align-content: stretch;
  gap: 40px;
}

.header_main {
  padding: 15px 0;
  border-radius: 10px;
  border: 1px solid #302e2e;
  background-color: #031a41;
  gap: 20px;

}

.head_main_ull {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
  list-style-type: none;

}

.non_line {
  text-decoration: none;
}


.header__link {
  color: #FFF;
}

.left_head {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.big:hover {
  color: rgb(154, 214, 240);
}

.a_color {
  color: rgb(58 193 245);
}

a {
  color: rgb(58 193 245);
}

a .logo_drink {
    max-width: 55px;
    /*height: auto;*/
    /*background-color: transparent;*/
}

.txt_log {
  font-size: 13px;
  color: #e83e8c;
  text-align: right;
}


/*-----планшет-----min для примера*/
@media (min-width: 768px) and (max-width: 1024px) {
  .center {
    max-width: 768px;
    margin: 0 auto;
    width: 100%;
    /* outline: 2px solid red; */
  }

  .container {
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 384px);
    /* outline: 2px solid green; */
  }

  .main__info__name {
    font-size: 16px;
  }

  .main__info__title {
    font-size: 48px;
  }

  .main__info {
    justify-content: center;
  }

  .logo {
    max-width: 534px;
    gap: 32px;
    padding: 0 0 120px 0;
    /* width: 100%;
    margin: 0 auto; */
  }

  .mid_info {
    margin: 157px auto 264px auto;
  }

  .md_info_right {
    padding: 0;
  }

  .cardlist {
    grid-template-columns: repeat(1, minmax(30%, 362px));
    justify-content: center;
    gap: 32px;
  }

  .card {
    width: 362px;
    height: 389px;
    padding: 30px;
    background-color: #0F1724;
  }

  .big_card {
    display: none;
  }

  .end {

    gap: 64px;
    flex-direction: column;
    margin-bottom: 221px;
    align-items: center;

  }

  .end_left_cont {
    margin: 0;
    padding: 0 110px;
    /* width: 783px; */
  }


  .main {
    /* padding-left: 64px; */
  }
}

/*---для мобилок---*/
@media (max-width: 767px) {

  .center {
    max-width: 343px;
    margin: 0 auto;
    width: 100%;
  }

  .container {
    padding-left: calc(50% - 172px);
    padding-right: calc(50% - 172px);
  }

  .header {
    padding: 22px 0;
    gap: 16px;
  }

  .main__info__name {
    margin: 0 0 10px 0;
    justify-content: center;
    font-size: 14px;

  }

  .main__info {
    padding: 64px 0 128px 0;
    justify-content: center;
  }

  .main-info-content {
    text-align: center;
  }

  .main__info__text {
    margin: 0 0 39px 0;
  }

  .main-content-btn {
    justify-content: center;
  }
}