<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User authenticate</title>
{#    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">#}
    <link rel="icon" href="{% static 'images/drinks.png' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="container">
    
    <div class="top ">
        <nav class="header container">
            {{ user }}           
            <a class="logo_drink" href="{% url 'home' %}"><img class="logo_drink" src="{% static 'images/ico_home.png' %}" alt="logo0"></a>
        </nav>        
    </div>


    {% block content %}
    {% endblock %}
    <script src="{% static "js/bootstrap.bundle.js" %}"></script>
</body>
</html>