{% extends "base.html" %}
{% block content %}
    <h1>Home page</h1>    
    {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log out</button>  
        <hr>
        <a href="{% url 'main' %}">Receipt</a> 
    {% else %}
    	<a href="{% url 'login' %}">Login</a> | 
        <a href="{% url 'register' %}">Register</a>        
               
    {% endif %} 
    
    <h2>Recent recipes:</h2>

<img src="https://images.pexels.com/photos/2814828/pexels-photo-2814828.jpeg" alt="Various products" style="width: 600px">
<p>This is the main page of our food library. Here your can study different recipes and share yours!</p>
{% endblock %}